In [14]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [ ]:
#Extracción de datos y creación de data frame y diccionario para los datos que vamos a usa

In [15]:
#Descarga de datos (grupos y equipos de cada grupo antes de empezar el torneo): 

todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [16]:
#Creando df y diccionario:

dict_tablas = {}

for letra, i in zip(alfabeto, range(12,62, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1] : 'Team'}, inplace = True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}']= df

In [17]:
#Ejemplo para ver si el diccionario funciona correctamente: 

dict_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [18]:
#Exportando diccionario para poder utilizarlo en otros proyectos, se crea el archivo 'dict_table' con toda la info:

with open('dict_table', 'wb') as output:
    pickle.dump(dict_tablas, output)

        home         score           away  year
0    Russia            5–0   Saudi Arabia  2018
1     Egypt            0–1        Uruguay  2018
2    Russia            3–1          Egypt  2018
3   Uruguay            1–0   Saudi Arabia  2018
4   Uruguay            3–0         Russia  2018
..       ...           ...            ...   ...
59   Russia   2–2 (a.e.t.)        Croatia  2018
60   France            1–0        Belgium  2018
61  Croatia   2–1 (a.e.t.)        England  2018
62  Belgium            2–0        England  2018
63   France            4–2        Croatia  2018

[64 rows x 4 columns]