In [2]:
#Listas
ejemplo_lista= ['Alejandro', 15.49, True]

In [7]:
ejemplo_lista[0:2]

['Alejandro', 15.49]

In [8]:
ejemplo_lista.append('Hola')

In [9]:
ejemplo_lista

['Alejandro', 15.49, True, 'Hola']

In [10]:
ejemplo_lista.remove('Hola')

In [11]:
ejemplo_lista

['Alejandro', 15.49, True]

In [14]:
#Crear dataframe de una lista:
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig=['Instagram', 1000, True, 2010]
yt = ['Youtube', 2000, False, 2005]
lkn = ['Linkedin', 663, False, 2003]
wsp = ['WhatsApp', 1600, True, 2009]

lista_rrss = [fbk, twt, ig, yt, lkn, wsp]
lista_rrss

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['Youtube', 2000, False, 2005],
 ['Linkedin', 663, False, 2003],
 ['WhatsApp', 1600, True, 2009]]

In [15]:
import pandas as pd

pd.DataFrame(lista_rrss, columns = ['Nombre', 'Cantidad', 'es_FBK', 'Año'])

      Nombre  Cantidad  es_FBK   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    Youtube      2000   False  2005
4   Linkedin       663   False  2003
5   WhatsApp      1600    True  2009

In [17]:
#Usar paquetes data science en python:
import numpy as np

A=np.arange(9)

In [19]:
#Calculando promedio con una función:
media = np.mean(A) #usando una función
media_2 = A.mean() #usando un método

In [20]:
print(media, media_2)

4.0 4.0

In [23]:
B = np.reshape(A, (3,3))
B

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#####
## Algunos paquetes para ciencia de datos:
### Procesamiento de datos:
#### Numpy, SciPy, Pandas, PySpark
### Visualización de datos:
#### Matplotlib, Seaborn, Bokeh, Plotty
### Modelos ML o AI:
#### Keras, Sklearn, PyTouch, TensorFlow
### Minería de datos:
#### Scrappy, Beautifulsoup, Flask, Selenium

In [24]:
#Manipular np arrays:

#Crear lista con números primos:

numeros_primos = [2,3,5,7,11,13,17,19,23,29]

In [26]:
#Crear array a partir de una lista:
array_primos=np.array(numeros_primos)
array_primos

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29])

In [27]:
#Crear array con zeros o como inicializar un arreglo de numpy:
array_zeros = np.zeros(10)
array_zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [29]:
#Crear array con números
array_numeros = np.arange(0,20,2)
array_numeros

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [30]:
#Haciendo un reshape para dos dimensiones
array_numeros.reshape(2,5)

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [32]:
#Operaciones aritméticas sobre np-array 1-dimension y 2-dimension
array_impares = array_numeros +1
array_impares

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [33]:
#Métodos asociados a estadística:
#suma:
array_primos.sum()

129

In [34]:
#promedio
array_primos.mean()

12.9

In [35]:
#varianza
array_primos.var()

73.28999999999999

In [41]:
#Ordenar un np-array:
array_fibo = np.array([55,0,144,1,21,89,5,8,13,1,34,3,2])
array_fibo

array([ 55,   0, 144,   1,  21,  89,   5,   8,  13,   1,  34,   3,   2])

In [43]:
#Orden ascendente:
np.sort(array_fibo)

array([  0,   1,   1,   2,   3,   5,   8,  13,  21,  34,  55,  89, 144])

In [44]:
#Orden descendente:
-np.sort(-array_fibo)

array([144,  89,  55,  34,  21,  13,   8,   5,   3,   2,   1,   1,   0])

In [45]:
#Seleccionar elementos de un array:

In [47]:
C = np.arange(0,20,2).reshape(2,5)
C

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [48]:
#Seleccionar primer elemento
C[0,0]

0

In [49]:
#Otro elemento
C[1,4]

18

In [50]:
#Varios elementos:
C[1,:]

array([10, 12, 14, 16, 18])

In [52]:
#columna
C[:, 1]

array([ 2, 12])

In [54]:
#Para fibo, menores de 20:
array_fibo<20

array([False,  True, False,  True, False, False,  True,  True,  True,
        True, False,  True,  True])

In [56]:
#Filtrar menores de 20:
array_fibo[array_fibo<20]

array([ 0,  1,  5,  8, 13,  1,  3,  2])

In [57]:
#Pandas y DATA FRAMES

In [58]:
#Crear dataframe de una lista:
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig=['Instagram', 1000, True, 2010]
yt = ['Youtube', 2000, False, 2005]
lkn = ['Linkedin', 663, False, 2003]
wsp = ['WhatsApp', 1600, True, 2009]

lista_rrss = [fbk, twt, ig, yt, lkn, wsp]
lista_rrss

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['Youtube', 2000, False, 2005],
 ['Linkedin', 663, False, 2003],
 ['WhatsApp', 1600, True, 2009]]

In [61]:
df_rrss = pd.DataFrame(lista_rrss, columns=['Nombre', 'Cantidad', 'is_FBK', 'Año'])
df_rrss

      Nombre  Cantidad  is_FBK   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    Youtube      2000   False  2005
4   Linkedin       663   False  2003
5   WhatsApp      1600    True  2009

In [68]:
#DataFrame vacío:
df_vacio = pd.DataFrame(columns=['Nombre', 'Cantidad', 'is_FBK', 'Año'])
df_vacio

Empty DataFrame
Columns: [Nombre, Cantidad, is_FBK, Año]
Index: []

In [71]:
#Añadiendo datos:
df_vacio = df_vacio.append({'Nombre': 'Facebook', 'Cantidad': 2449, 'is_FBK': True, 'Año': 2006}, ignore_index=True)
df_vacio

/tmp/ipykernel_11200/3850801550.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_vacio = df_vacio.append({'Nombre': 'Facebook', 'Cantidad': 2449, 'is_FBK': True, 'Año': 2006}, ignore_index=True)

     Nombre Cantidad is_FBK   Año
0  Facebook     2449   True  2006
1  Facebook     2449   True  2006

###