In [1]:
import pandas as pd

# 1.-Limpiando data

In [64]:
df_data_historica = pd.read_csv('fifa_worldcup_hitorical_data.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_data_faltante = pd.read_csv('fifa_worldcup_data.csv')

## 1.1.-Limpiando df_fixture

In [65]:
df_fixture['home'] = df_fixture['home'].str.strip() #Elimina los espacios en blanco de los nombres a los lados
df_fixture['away'] = df_fixture['away'].str.strip()

## 1.2.-Limpiando df_data_faltante y agregándolo a fd_historical_data

In [66]:
#df_data_faltante[df_data_faltante['home'].isnull()]
df_data_faltante.dropna(inplace=True) #Eliminando data faltante

In [67]:
#Combinando data historíca con data faltante

df_datos_final = pd.concat([df_data_faltante, df_data_historica], ignore_index=True) #Puede que haya duplicados

#Eliminando duplicados:
df_datos_final.drop_duplicates(inplace=True)
df_datos_final.sort_values('year', inplace = True) #Ordenando según el año

#Usaremos aun así, data histórica.
df_data_historica

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
896     Russia   2–2 (a.e.t.)   Croatia  2018
897     France            1–0   Belgium  2018
898    Croatia   2–1 (a.e.t.)   England  2018
899    Belgium            2–0   England  2018
900     France            4–2   Croatia  2018

[901 rows x 4 columns]

## 1.3.-Limpiando df_data_histórica

In [68]:
#ELiminando un partido sin resultado:

index_eliminar = df_data_historica[df_data_historica['home'].str.contains('Sweden')  & 
                 df_data_historica['away'].str.contains('Austria')].index

df_data_historica.drop(index_eliminar, inplace=True) #Eliminamos la fila que no nos interesa

In [70]:
#df_data_historica[df_data_historica['score'].str.contains('[^\d–]')]
df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d–]','', regex = True)

In [71]:
#Limpiando data historica
df_data_historica['home'] = df_data_historica['home'].str.strip() #Elimina los espacios en blanco de los nombres a los lados
df_data_historica['away'] = df_data_historica['away'].str.strip()

In [76]:
#Separando score en dos cadenas
df_data_historica[['HomeGoals', 'AwayGoals']] =  df_data_historica['score'].str.split('–', expand = True) #Crea dos nuevas columnas para el df

In [78]:
#Eliminamos la columna score:
df_data_historica.drop('score', axis=1, inplace=True) #El 1 Indica que es una columna

In [82]:
#Renombramos las columnas:
df_data_historica.rename(columns={'home':'HomeTeam', 'away':'AwayTeam', 'year':'Year'}, inplace = True)

In [87]:
#Vemos los tipos de datos:
df_data_historica.dtypes
#Cambiamos el tipo de dato para HomeGoals y AwayGoals:
df_data_historica = df_data_historica.astype({'HomeGoals': int, 'AwayGoals': int, 'Year': int})

In [91]:
#Crear nueva columna: numero total de goles en el partido:
df_data_historica['TotalGoals'] = df_data_historica['HomeGoals'] + df_data_historica['AwayGoals']

# 2.- Exportar dataframe limpio

In [95]:
df_data_historica.to_csv('clean_fifa_worldcup_matches.csv', index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=False)

In [96]:
#Comprobar si se ha eliminado más data de la cuenta: 

years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

for year in years:
    print(year, len(df_data_historica[df_data_historica['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64